{% load static %}


<div class="position-relative">
    <img src="{% static 'images/sunset_header.jpg' %}" alt="Sunset" width="1800px" class="img-fluid">


    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary position-absolute w-100 mb-5">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'all-blog-posts' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Posts
                        </a>
                        <ul class="dropdown-menu">
                            {% for post in all_posts %}
                                <li><a class="dropdown-item" href="{% url 'single-post' post.id %}">{{ post.title }}</a>
                                </li>
                            {% endfor %}
                            <li><a class="dropdown-item" href="{% url 'new-post' %}">Create new post</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about-page' %}">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
