<div class="container mb-4 w-75">
    <div class="row">
        <div class="col-sm fs-4 text-break">
            <div class="weather-widget position-sticky top-0 end-0 mt-5 me-5 p-3"
                 style="background-color: rgba(22,18,63,0.5); border-radius: 35px">
                <div class="row">
                    <div class="col-sm-6 fs-1 text-break">
                        <div class="weather-icon">
                            <img src="https://openweathermap.org/img/w/{{ icon }}.png" style="width: 100px"
                                 alt="Weather Icon">
                        </div>
                        <div class="col-sm fs-5 text-break">
                            <p>Sunrise</p>
                        </div>
                        <div class="col-sm fs-5 text-break">
                            <p>{{ sunrise }}</p>
                        </div>
                        <div class="col-sm fs-5 text-break">
                            <p>Sunset</p>
                        </div>
                        <div class="col-sm fs-5 text-break">
                            <p>{{ sunset }}</p>
                        </div>
                    </div>
                    <div class="col-sm-6 fs-4 text-break">
                        <div>
                            <p>{{ name }} at {{ country }}</p>
                        </div>
                        <div>
                            <p>{{ temperature }} C</p>
                        </div>
                        <div>
                            <p>{{ description }} </p>
                        </div>
                        <div class="col-sm fs-4 text-break mb-4">
                            <form method="GET">
                                <div class="input-group">
                                    <input type="text" name="city" class="form-control"
                                           placeholder="City name" id="city" aria-label="City name">
                                    <button type="submit" class="btn btn-secondary">
                                        <i class="fas fa-search"></i> Search
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
